<div class="cont">
<h1>Hard & Soft Skills</h1>
<div class="container">
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>100<span>%</span></h2>
                </div>
            </div>
            <h2 class="text">Ingles</h2>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>100<span>%</span></h2>
                </div>
            </div>
            <h2 class="text">Español</h2>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>25<span>%</span></h2>
                </div>
            </div>
            <h2 class="text">Diseño Web</h2>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>30<span>%</span></h2>
                </div>
            </div>
            <h2 class="text">Programacion en Javascript</h2>
        </div>
    </div>
</div>

</div>